Source: freecad-daily
Section: science
Priority: extra
Maintainer: Normand Chamberland <gemnoc@gmail.com>
Uploaders: sgrogan <clhclh@earthlink.net>
Vcs-Browser: https://code.launchpad.net/~freecad-maintainers/+git/gitmaster
Vcs-Git: git://git.launchpad.net/~freecad-maintainers/+git/gitmaster
Homepage: http://www.freecadweb.org/
Build-Depends:
 cmake,
 debhelper (>= 9),
 libboost-dev (>= 1.55) | libboost1.55-dev,
 libboost-filesystem-dev (>= 1.55) | libboost-filesystem1.55-dev,
 libboost-program-options-dev (>= 1.55) | libboost-program-options1.55-dev,
 libboost-python-dev (>= 1.55) | libboost-python1.55-dev,
 libboost-regex-dev (>= 1.55) | libboost-regex1.55-dev,
 libboost-signals-dev (>= 1.55) | libboost-signals1.55-dev,
 libboost-thread-dev (>= 1.55) | libboost-thread1.55-dev,
 libcoin80-dev,
 libeigen3-dev,
 libfreeimage-dev,
 libfreetype6-dev,
 libhdf5-mpi-dev,
 libmedc-dev,
 liboce-ocaf-dev,
 liboce-visualization-dev,
 libpyside-dev,
 libqt4-dev,
 libqt4-opengl-dev,
 libqtwebkit-dev,
 libshiboken-dev,
 libspnav-dev,
 libxerces-c-dev,
 libzipios++-dev,
 lsb-release,
 netgen-headers,
 oce-draw,
 pyside-tools,
 python-dev,
 python-ply,
 swig,
 libvtk6-dev
Standards-Version: 3.9.5

Package: freecad-daily
Architecture: any
Depends:
 python-pivy,
 python-pyside.qtcore,
 python-pyside.qtsvg,
 python-pyside.qtuitools,
 ${shlibs:Depends},
 ${misc:Depends},
 ${python:Depends}
Recommends:
 calculix-ccx,
 graphviz
Suggests:
 freecad-doc,
 python-collada,
 python-matplotlib
Description: Extensible Open Source CAx program (beta)
 FreeCAD is a general purpose feature-based, parametric 3D modeler for CAD, MCAD,
 CAx, CAE and PLM, aimed directly at mechanical engineering and product design but
 also fits a wider range of uses in engineering, such as architecture or other engineering
 specialties. It is 100% Open Source (LGPL2+ license) and extremely modular, allowing
 for very advanced extension and customization.
 .
 FreeCAD is based on OpenCasCade, a powerful geometry kernel, features an Open Inventor-compliant
 3D scene representation model provided by the Coin 3D library, and a broad Python API.
 The interface is built with Qt. FreeCAD runs exactly the same way on Windows, Mac OSX, BSD and
 Linux platforms.

Package: freecad-daily-dev
Architecture: any
Section: libdevel
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 freecad-daily (= ${binary:Version})
Description: FreeCAD development files
 FreeCAD is a general purpose feature-based, parametric 3D modeler for CAD, MCAD,
 CAx, CAE and PLM, aimed directly at mechanical engineering and product design but
 also fits a wider range of uses in engineering, such as architecture or other engineering
 specialties. It is 100% Open Source (LGPL2+ license) and extremely modular, allowing
 for very advanced extension and customization.
 For more details see http://www.freecadweb.org/
 .
 This package contains headers and symlinks necessary to
 develop modules for FreeCAD.

Package: freecad-daily-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
 qt4-dev-tools
Description: FreeCAD documentation
 FreeCAD is a general purpose feature-based, parametric 3D modeler for CAD, MCAD,
 CAx, CAE and PLM, aimed directly at mechanical engineering and product design but
 also fits a wider range of uses in engineering, such as architecture or other engineering
 specialties. It is 100% Open Source (LGPL2+ license) and extremely modular, allowing
 for very advanced extension and customization.
 For more details see http://www.freecadweb.org/
 .
 This package contains the FreeCAD documentation.
 .
 The documentation is provided in Qt's new help format;
 the new help format version can be viewed in conjunction with the Qt Assistant
 found in the qt4-dev-tools package.

