[Desktop Entry]
Version=1.0
Name=FreeCAD Daily
Comment=Feature based Parametric Modeler
GenericName=CAD Application
Exec=/usr/bin/freecad-daily %F
Path=/usr/lib/freecad-daily
Terminal=false
Type=Application
Icon=freecad
Categories=Graphics;Science;Engineering
StartupNotify=true
MimeType=application/x-extension-fcstd
